@media screen and (min-width: 400px) {
	body {
	background-color: limegreen;
	font-family: "Times New Roman", Verdana, sans-serif;
	}
}
	
@media screen and (min-width: 1200px) {
	body {
	background-color: #474e5d;
	font-family: "Times New Roman", Verdana, sans-serif;
	}
}