body {
	background-color: White;
	font-family: "Times New Roman", Verdana, sans-serif;
	color: red;
}
h1 {
	font-size: 5em;
	font-weight: bold;
	border: .5em;
	color: black;
}
input {
	width: 100%;
}
p {
	margin: .5em;
}
