body {
	background-color: Grey;
	font-family: "Times New Roman", Verdana, sans-serif;
}
div.header {
	position: relative;
	left: 10px;
}
h1 {
	position: relative;
	font-size: 4em;
	font-weight: bold;
	left: 10px;
	margin-bottom: 25px;
	margin-top: 25px;
}
input {
	width: 98%;
	padding: 1em;
	background: #f1f1f1;
	border: none;
}
p {
	margin-bottom: 20px;
	margin-left: .5em;
	font-size: 1.2em;
}
.container {
	position: relative;
	left: 0;
	top: 0;
	width: 80%;
	height: 80%;
	margin: 5% auto 10% auto;
	background-color: White;
	color: black;
}
label {
	font-size: 1.5em;
}
