body {
	background-color: Grey;
	font-family: "Times New Roman", Verdana, sans-serif;
}
div.header {
	position: relative;
	left: 10px;
}
h1 {
	font-size: 5em;
	font-weight: bold;
}
input {
	width: 90%;
}
p {
	margin: .5em;
}
.container {
	position: relative;
	left: 0;
	top: 0;
	width: 80%;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	background-color: White;
	color: black;
}
